@import "../../../constants/color";

.draewr_dashboard_item {
    border-radius: 10px !important;
    height: 55px !important;

    &:hover {
        background-color: $secondary;

        &::before {
            display: flex !important;
            justify-content: center !important;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 4px !important;
            height: 25px !important;
            background-color: $primary;
            border-radius: 10px !important;
            margin-right: 0.5rem !important;
            margin-top: 14px !important;
        }
    }

    .draewr_dashboard_icon {
        color: $font_color;
    }

    .draewr_dashboard_text {
        font-weight: 600 !important;
        margin-left: -0.5rem !important;
    }

    .MuiTypography-root {
        font-weight: 600 !important;
        font-family: $font-family !important;
        color: $font_color;
    }
}

.logout_icon_div {
    background-color: $secondary;
    bottom: 0.5rem !important;
    border-radius: 10px !important;
    left: 0.8rem;
    right: 1rem;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3rem;
    gap: 6px;
    cursor: pointer;

    .logout_text {
        font-size: 15px;
        font-weight: 800;
        color: $primary;
    }

    .logout_icon {
        font-size: 20px;
        color: $primary;
    }

}

.draewr_dashboard_item:active .draewr_dashboard_icon {
    color: $primary;
}

.draewr_dashboard_item:active .MuiTypography-root {
    color: $primary;
}

.draewr_dashboard_item:hover .MuiButtonBase-root {
    background-color: transparent !important;
}

.draewr_dashboard_item.active {
    background-color: $secondary;

    /* Add other styles for the active effect */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 4px !important;
        height: 25px !important;
        background-color: $primary;
        border-radius: 5px !important;
        margin-right: 0.5rem !important;
        margin-top: 14px !important;
    }

    .draewr_dashboard_icon {
        color: $primary;
    }

    .MuiTypography-root {
        color: $primary;
    }
}